<div class="banner" style="background-image: url('<%= image_path "lemonpic.jpg" %>')">
  <div class="center-container">
    <div class="createform-container" style="margin-top: -600px">
      <div class="booking-container">
        <div class="banner2" style="background-image: url('<%= image_path "lemonpic3.jpg" %>')">
          <h1>Create a New Offer</h1>
          <%= simple_form_for @offer do |f| %>
            <div class="d-flex gap-4">
              <%= f.input :company %>
              <%= f.input :description %>
            </div>
            <div class="d-flex gap-4">
              <%= f.input :price %>
              <%= f.input :location %>
            </div>
            <%= f.input :photo, as: :file %>
            <%= link_to "Back to All Offers", offers_path, class: 'btn btn-primary' %>
            <%= f.submit 'Create Now', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
