<h1>This the offer page for: <strong><%= @offer.company %></strong></h1>
  <div class="banner" style="background-image: url(<%= image_path "lemonpic.jpg" %>)">
<div class=card_show>

  <h2><%=@offer.company %></h2>
  <p><%= @offer.description %></p>
  <p><%= @offer.price %>€</p>
  <p><%= @offer.location %></p>
  <%= image_tag @offer.photo.url, width: '400px', height: '200px'  %>
  <p>
    <%= link_to "<< Back to All Offers", offers_path, class: "btn btn-dark" %>
   <%= link_to "Book Now", bookings_new_path(offer_id: @offer.id), class: "btn btn-success" %>
</div>
