<h1>This the offer page for: <strong><%= @offer.company %></strong></h1>

<div class=card_show>
  <h2><%=@offer.company %></h2>
  <p><%= @offer.description %></p>
  <p><%= @offer.price %></p>
  <p><%= @offer.location %></p>
  <p><%= @offer.photo %></p>
  <p>
    <%= link_to "<< Back to All Offers", offers_path, class: "btn btn-dark"%>
  </p>
</div>
